@{
    ViewBag.Title = "Dokumentacja";
}

<h2>Dokumentacja</h2>

<a href="@Url.Content("~/Content/files/Dokumentacja_salon_kosmetyczny_EDEN.pdf")">Plik PDF z dokumentacją i instrukcją użytkownika</a>

<br />

<a href="@Url.Content("~/Content/files/Dokumentacja_salon_kosmetyczny_EDEN.docx")">Plik Word z dokumentacją i instrukcją użytkownika</a>
